USE [master]
GO
/****** Object:  Database [hotel]    Script Date: 21/01/2021 6:15:43 AM ******/
CREATE DATABASE [hotel]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'hotel', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\hotel.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'hotel_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\hotel_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [hotel].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [hotel]
GO
/****** Object:  Table [dbo].[CHITIETPDP]    Script Date: 21/01/2021 6:15:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPDP](
	[MACHITIETPDP] [int] IDENTITY(1,1) NOT NULL,
	[MAPHONG] [int] NOT NULL,
	[SOPHIEUDP] [int] NOT NULL,
 CONSTRAINT [PK__CHITIETP__24168BE894892E2D] PRIMARY KEY CLUSTERED 
(
	[MACHITIETPDP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETSDDV]    Script Date: 21/01/2021 6:15:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETSDDV](
	[MACHITIETSDDV] [int] IDENTITY(1,1) NOT NULL,
	[MAPDV] [int] NOT NULL,
	[MADV] [int] NOT NULL,
	[SOLUONG] [int] NULL,
 CONSTRAINT [PK__CHITIETS__3D36A8A6DC4CD430] PRIMARY KEY CLUSTERED 
(
	[MACHITIETSDDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUCVU]    Script Date: 21/01/2021 6:15:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCVU](
	[MACHUCVU] [int] IDENTITY(1,1) NOT NULL,
	[TENCHUCVU] [nvarchar](50) NULL,
	[LUONG] [money] NULL,
 CONSTRAINT [PK_CHUCVU] PRIMARY KEY CLUSTERED 
(
	[MACHUCVU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 21/01/2021 6:15:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICHVU](
	[MADV] [int] IDENTITY(1,1) NOT NULL,
	[TENDV] [nvarchar](50) NULL,
	[GIADV] [money] NULL,
 CONSTRAINT [PK__DICHVU__603F0055F9AD9586] PRIMARY KEY CLUSTERED 
(
	[MADV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 21/01/2021 6:15:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [int] IDENTITY(1,1) NOT NULL,
	[NGAYLAPHD] [datetime] NULL,
	[SOPHIEUDP] [int] NOT NULL,
	[MAPDV] [int] NOT NULL,
	[TONGTIEN] [money] NULL,
	[TINHTRANGHD] [nvarchar](50) NULL,
 CONSTRAINT [PK__HOADON__603F20CE1F1331B5] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACH]    Script Date: 21/01/2021 6:15:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH](
	[MAKH] [int] IDENTITY(1,1) NOT NULL,
	[TENKH] [nvarchar](50) NULL,
	[SOCMND] [varchar](50) NULL,
	[SODT] [varchar](50) NULL,
 CONSTRAINT [PK__KHACH__603F592CB24D50C1] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIPHONG]    Script Date: 21/01/2021 6:15:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIPHONG](
	[MALOAIPHONG] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAIPHONG] [nvarchar](50) NULL,
	[GIALOAIPHONG] [money] NULL,
 CONSTRAINT [PK_LOAIPHONG] PRIMARY KEY CLUSTERED 
(
	[MALOAIPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 21/01/2021 6:15:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [int] IDENTITY(1,1) NOT NULL,
	[TENNV] [nvarchar](50) NULL,
	[TENDANGNHAP] [varchar](50) NULL,
	[MATKHAU] [varchar](50) NULL,
	[EMAIL] [varchar](100) NULL,
	[MACHUCVU] [int] NULL,
 CONSTRAINT [PK__NHANVIEN__603F51148829B60B] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUDATPHONG]    Script Date: 21/01/2021 6:15:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUDATPHONG](
	[SOPHIEUDP] [int] IDENTITY(1,1) NOT NULL,
	[NGAYDATPHONG] [datetime] NULL,
	[NGAYNHANPHONG] [datetime] NULL,
	[NGAYTRAPHONG] [datetime] NULL,
	[MAKH] [int] NULL,
	[MANV] [int] NULL,
 CONSTRAINT [PK__PHIEUDAT__A6739BAFEB743E80] PRIMARY KEY CLUSTERED 
(
	[SOPHIEUDP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUSDDV]    Script Date: 21/01/2021 6:15:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUSDDV](
	[MAPDV] [int] IDENTITY(1,1) NOT NULL,
	[MAPHONG] [int] NOT NULL,
 CONSTRAINT [PK__PHIEUSDD__7B3558A3E11C99C3] PRIMARY KEY CLUSTERED 
(
	[MAPDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 21/01/2021 6:15:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG](
	[MAPHONG] [int] IDENTITY(1,1) NOT NULL,
	[TENPHONG] [nvarchar](50) NULL,
	[TINHTRANG] [nvarchar](50) NULL,
	[MALOAIPHONG] [int] NULL,
	[MASUCCHUA] [int] NULL,
 CONSTRAINT [PK__PHONG__CE71B252FD37A5FA] PRIMARY KEY CLUSTERED 
(
	[MAPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUCCHUA]    Script Date: 21/01/2021 6:15:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUCCHUA](
	[MASUCCHUA] [int] IDENTITY(1,1) NOT NULL,
	[SOGIUONG] [int] NULL,
	[GIASUCCHUA] [money] NULL,
 CONSTRAINT [PK_SUCCHUA] PRIMARY KEY CLUSTERED 
(
	[MASUCCHUA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CHITIETPDP] ON 

INSERT [dbo].[CHITIETPDP] ([MACHITIETPDP], [MAPHONG], [SOPHIEUDP]) VALUES (138, 2, 154)
INSERT [dbo].[CHITIETPDP] ([MACHITIETPDP], [MAPHONG], [SOPHIEUDP]) VALUES (139, 7, 155)
INSERT [dbo].[CHITIETPDP] ([MACHITIETPDP], [MAPHONG], [SOPHIEUDP]) VALUES (142, 2, 158)
SET IDENTITY_INSERT [dbo].[CHITIETPDP] OFF
GO
SET IDENTITY_INSERT [dbo].[CHITIETSDDV] ON 

INSERT [dbo].[CHITIETSDDV] ([MACHITIETSDDV], [MAPDV], [MADV], [SOLUONG]) VALUES (93, 142, 1, 1)
INSERT [dbo].[CHITIETSDDV] ([MACHITIETSDDV], [MAPDV], [MADV], [SOLUONG]) VALUES (94, 142, 1, 1)
INSERT [dbo].[CHITIETSDDV] ([MACHITIETSDDV], [MAPDV], [MADV], [SOLUONG]) VALUES (97, 142, 1, 1)
SET IDENTITY_INSERT [dbo].[CHITIETSDDV] OFF
GO
SET IDENTITY_INSERT [dbo].[CHUCVU] ON 

INSERT [dbo].[CHUCVU] ([MACHUCVU], [TENCHUCVU], [LUONG]) VALUES (1, N'Dọn phòng', 3000000.0000)
INSERT [dbo].[CHUCVU] ([MACHUCVU], [TENCHUCVU], [LUONG]) VALUES (4, N'admin', 5000000.0000)
SET IDENTITY_INSERT [dbo].[CHUCVU] OFF
GO
SET IDENTITY_INSERT [dbo].[DICHVU] ON 

INSERT [dbo].[DICHVU] ([MADV], [TENDV], [GIADV]) VALUES (1, N'Coca-Cola', 11000.0000)
INSERT [dbo].[DICHVU] ([MADV], [TENDV], [GIADV]) VALUES (2, N'Pepsi', 10000.0000)
INSERT [dbo].[DICHVU] ([MADV], [TENDV], [GIADV]) VALUES (4, N'Redbull', 12000.0000)
SET IDENTITY_INSERT [dbo].[DICHVU] OFF
GO
SET IDENTITY_INSERT [dbo].[HOADON] ON 

INSERT [dbo].[HOADON] ([MAHD], [NGAYLAPHD], [SOPHIEUDP], [MAPDV], [TONGTIEN], [TINHTRANGHD]) VALUES (135, CAST(N'2021-01-19T00:00:00.000' AS DateTime), 154, 132, 225000.0000, N'Đã thanh toán')
INSERT [dbo].[HOADON] ([MAHD], [NGAYLAPHD], [SOPHIEUDP], [MAPDV], [TONGTIEN], [TINHTRANGHD]) VALUES (136, CAST(N'2021-01-19T00:00:00.000' AS DateTime), 155, 133, 405000.0000, N'Đã thanh toán')
INSERT [dbo].[HOADON] ([MAHD], [NGAYLAPHD], [SOPHIEUDP], [MAPDV], [TONGTIEN], [TINHTRANGHD]) VALUES (139, CAST(N'2021-01-19T00:00:00.000' AS DateTime), 158, 136, 170000.0000, N'Đã thanh toán')
SET IDENTITY_INSERT [dbo].[HOADON] OFF
GO
SET IDENTITY_INSERT [dbo].[KHACH] ON 

INSERT [dbo].[KHACH] ([MAKH], [TENKH], [SOCMND], [SODT]) VALUES (1, N'Phương', N'025988793', N'0981119573')
INSERT [dbo].[KHACH] ([MAKH], [TENKH], [SOCMND], [SODT]) VALUES (2, N'Trí', N'025988793', N'0321234212')
INSERT [dbo].[KHACH] ([MAKH], [TENKH], [SOCMND], [SODT]) VALUES (3, N'Dũng', N'025988793', N'0983782813')
SET IDENTITY_INSERT [dbo].[KHACH] OFF
GO
SET IDENTITY_INSERT [dbo].[LOAIPHONG] ON 

INSERT [dbo].[LOAIPHONG] ([MALOAIPHONG], [TENLOAIPHONG], [GIALOAIPHONG]) VALUES (1, N'Phòng Standard (STD)', 100000.0000)
INSERT [dbo].[LOAIPHONG] ([MALOAIPHONG], [TENLOAIPHONG], [GIALOAIPHONG]) VALUES (58, N'Phòng Superior (SUP)', 200000.0000)
INSERT [dbo].[LOAIPHONG] ([MALOAIPHONG], [TENLOAIPHONG], [GIALOAIPHONG]) VALUES (79, N'Phòng Deluxe (DLX)', 300000.0000)
SET IDENTITY_INSERT [dbo].[LOAIPHONG] OFF
GO
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [TENDANGNHAP], [MATKHAU], [EMAIL], [MACHUCVU]) VALUES (5, N'Phạm Nguyễn Hữu Phương', N'admin', N'!#/)zW¥§C‰JJ€Ã', N'phuonghuu71@gmail.com', 4)
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [TENDANGNHAP], [MATKHAU], [EMAIL], [MACHUCVU]) VALUES (13, N'Võ Phước Sang', N'sang', N'!#/)zW¥§C‰JJ€Ã', N'phamnguyenhuuphuongk11@siu.edu.vn', 1)
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [TENDANGNHAP], [MATKHAU], [EMAIL], [MACHUCVU]) VALUES (15, N'phuong', N'admin3', N'Êv&vÇO''”@“·é)', N'abc@daj.com', 1)
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
GO
SET IDENTITY_INSERT [dbo].[PHIEUDATPHONG] ON 

INSERT [dbo].[PHIEUDATPHONG] ([SOPHIEUDP], [NGAYDATPHONG], [NGAYNHANPHONG], [NGAYTRAPHONG], [MAKH], [MANV]) VALUES (154, CAST(N'2021-01-19T00:00:00.000' AS DateTime), CAST(N'2021-01-19T10:46:00.000' AS DateTime), CAST(N'2021-01-21T00:00:00.000' AS DateTime), 1, 5)
INSERT [dbo].[PHIEUDATPHONG] ([SOPHIEUDP], [NGAYDATPHONG], [NGAYNHANPHONG], [NGAYTRAPHONG], [MAKH], [MANV]) VALUES (155, CAST(N'2021-01-19T00:00:00.000' AS DateTime), CAST(N'2021-01-19T10:55:00.000' AS DateTime), CAST(N'2021-01-22T00:00:00.000' AS DateTime), 2, 5)
INSERT [dbo].[PHIEUDATPHONG] ([SOPHIEUDP], [NGAYDATPHONG], [NGAYNHANPHONG], [NGAYTRAPHONG], [MAKH], [MANV]) VALUES (158, CAST(N'2021-01-19T00:00:00.000' AS DateTime), CAST(N'2021-01-19T10:49:00.000' AS DateTime), CAST(N'2021-01-21T00:00:00.000' AS DateTime), 1, 5)
SET IDENTITY_INSERT [dbo].[PHIEUDATPHONG] OFF
GO
SET IDENTITY_INSERT [dbo].[PHIEUSDDV] ON 

INSERT [dbo].[PHIEUSDDV] ([MAPDV], [MAPHONG]) VALUES (132, 2)
INSERT [dbo].[PHIEUSDDV] ([MAPDV], [MAPHONG]) VALUES (133, 7)
INSERT [dbo].[PHIEUSDDV] ([MAPDV], [MAPHONG]) VALUES (134, 2)
SET IDENTITY_INSERT [dbo].[PHIEUSDDV] OFF
GO
SET IDENTITY_INSERT [dbo].[PHONG] ON 

INSERT [dbo].[PHONG] ([MAPHONG], [TENPHONG], [TINHTRANG], [MALOAIPHONG], [MASUCCHUA]) VALUES (2, N'Phòng 101', N'Được đặt', 1, 1)
INSERT [dbo].[PHONG] ([MAPHONG], [TENPHONG], [TINHTRANG], [MALOAIPHONG], [MASUCCHUA]) VALUES (7, N'Phòng 102', N'Còn Phòng', 1, 5)
INSERT [dbo].[PHONG] ([MAPHONG], [TENPHONG], [TINHTRANG], [MALOAIPHONG], [MASUCCHUA]) VALUES (8, N'Phòng 103', N'Được đặt', 1, 1)
SET IDENTITY_INSERT [dbo].[PHONG] OFF
GO
SET IDENTITY_INSERT [dbo].[SUCCHUA] ON 

INSERT [dbo].[SUCCHUA] ([MASUCCHUA], [SOGIUONG], [GIASUCCHUA]) VALUES (1, 1, 0.0000)
INSERT [dbo].[SUCCHUA] ([MASUCCHUA], [SOGIUONG], [GIASUCCHUA]) VALUES (5, 2, 50000.0000)
INSERT [dbo].[SUCCHUA] ([MASUCCHUA], [SOGIUONG], [GIASUCCHUA]) VALUES (6, 3, 100000.0000)
SET IDENTITY_INSERT [dbo].[SUCCHUA] OFF
GO
ALTER TABLE [dbo].[CHITIETPDP]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPDP_PHIEUDATPHONG] FOREIGN KEY([SOPHIEUDP])
REFERENCES [dbo].[PHIEUDATPHONG] ([SOPHIEUDP])
GO
ALTER TABLE [dbo].[CHITIETPDP] CHECK CONSTRAINT [FK_CHITIETPDP_PHIEUDATPHONG]
GO
ALTER TABLE [dbo].[CHITIETPDP]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPDP_PHONG] FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONG] ([MAPHONG])
GO
ALTER TABLE [dbo].[CHITIETPDP] CHECK CONSTRAINT [FK_CHITIETPDP_PHONG]
GO
ALTER TABLE [dbo].[CHITIETSDDV]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETSDDV_DICHVU] FOREIGN KEY([MADV])
REFERENCES [dbo].[DICHVU] ([MADV])
GO
ALTER TABLE [dbo].[CHITIETSDDV] CHECK CONSTRAINT [FK_CHITIETSDDV_DICHVU]
GO
ALTER TABLE [dbo].[CHITIETSDDV]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETSDDV_PHIEUSDDV] FOREIGN KEY([MAPDV])
REFERENCES [dbo].[PHIEUSDDV] ([MAPDV])
GO
ALTER TABLE [dbo].[CHITIETSDDV] CHECK CONSTRAINT [FK_CHITIETSDDV_PHIEUSDDV]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_PHIEUDATPHONG] FOREIGN KEY([SOPHIEUDP])
REFERENCES [dbo].[PHIEUDATPHONG] ([SOPHIEUDP])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_PHIEUDATPHONG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_PHIEUSDDV] FOREIGN KEY([MAPDV])
REFERENCES [dbo].[PHIEUSDDV] ([MAPDV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_PHIEUSDDV]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_CHUCVU] FOREIGN KEY([MACHUCVU])
REFERENCES [dbo].[CHUCVU] ([MACHUCVU])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_CHUCVU]
GO
ALTER TABLE [dbo].[PHIEUDATPHONG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUDATPHONG_KHACH] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACH] ([MAKH])
GO
ALTER TABLE [dbo].[PHIEUDATPHONG] CHECK CONSTRAINT [FK_PHIEUDATPHONG_KHACH]
GO
ALTER TABLE [dbo].[PHIEUDATPHONG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUDATPHONG_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUDATPHONG] CHECK CONSTRAINT [FK_PHIEUDATPHONG_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUSDDV]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUSDDV_PHONG] FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONG] ([MAPHONG])
GO
ALTER TABLE [dbo].[PHIEUSDDV] CHECK CONSTRAINT [FK_PHIEUSDDV_PHONG]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [FK_PHONG_LOAIPHONG] FOREIGN KEY([MALOAIPHONG])
REFERENCES [dbo].[LOAIPHONG] ([MALOAIPHONG])
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [FK_PHONG_LOAIPHONG]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [FK_PHONG_SUCCHUA] FOREIGN KEY([MASUCCHUA])
REFERENCES [dbo].[SUCCHUA] ([MASUCCHUA])
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [FK_PHONG_SUCCHUA]
GO
USE [master]
GO
